@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/f71f911aa129716fe407ddf47737d917?family=Qualy');
@import url('https://db.onlinewebfonts.com/c/78ca7e3bb99900a4a8c3429fa28d0509?family=Qanelas+SemiBold');

/* ###################################################### Reset CSS ###############################################################*/
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "poppins-light", sans-serif;
  ;
}


/* ###################################################### Declaração de variáveis ###############################################################*/
:root {
  --bg-color-primary: #2A5872;
  --bg-color-secondary: #357599;
  --color-green-getter: #5eba98;
  --color-white-getter: #eaf1f4;
  --color-gray-getter: #3d414d;
  --color-light: #fff;
  --color-black: #000;
  --color-gray: #ccd1d9;
  --color-blue-light: #5c8ba9;
  --color-box-shadow: #374550;
  --color-gray-hight: #1C2125;
}


body {
  background-color: var(--color-gray-getter);
  color: var(--color-light);
}


/* Media queries para teléfonos pequeños y teléfonos verticales */
@media (min-width: 320px) and (max-width: 480px) {
  .header {
    width: 25em, auto;
    height: 3.5em;
    background: linear-gradient(to right, var(--color-gray-getter), var(--color-green-getter));
  }

  #logo-getter {
    margin-top: 1em;
    margin-left: 0.5em;
    height: 2em;
  }

  .section {
    justify-content: center;
    align-items: center;
  }

  .streaming-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .streaming {
    justify-content: center;
    align-items: center;
    width: 25em;
    margin: 0.5em;
    padding: 0.3em;
    background-color: var(--color-gray);
    box-shadow: 0 0 2em var(--color-box-shadow);
    border-radius: 0.5em;
  }

  .info {
    display: flex;
    font-size: 0.5em;
    text-align: center;
    justify-content: space-around;
    padding: 1em;
    background-color: var(--color-black);
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 6rem;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .logo-getter-footer {
    height: 10em;

  }

  .social-icon {
    margin: 1rem 3rem;

  }
}

/* Media queries para teléfonos grandes y tabletas pequeñas */
@media (min-width: 481px) and (max-width: 768px) {
  .header {
    width: 40em auto;
    height: 3.5em;
    background: linear-gradient(to right, var(--color-gray-getter), var(--color-green-getter));
  }

  #logo-getter {
    margin-top: 1em;
    margin-left: 0.5em;
    height: 2em;
  }

  .section {
    justify-content: center;
    align-items: center;
  }

  .streaming-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .streaming {
    justify-content: center;
    align-items: center;
    width: 38em;
    margin: 0.5em;
    padding: 0.3em;
    background-color: var(--color-gray);
    box-shadow: 0 0 2em var(--color-box-shadow);
    border-radius: 0.5em;
  }

  .info {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 1em;
    background-color: var(--color-black);
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 6rem;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .logo-getter-footer {
    height: 10em;

  }

  .social-icon {
    margin: 1rem 3rem;

  }
}




/* Media queries para tabletas grandes y pantallas de PC */
@media (min-width: 769px) {

  .header {
    width: 154em auto;
    height: 3em;
    background: linear-gradient(to right, var(--color-gray-getter), var(--color-green-getter));
  }

  #logo-getter {
    margin-left: 0.5em;
    height: 3em;
  }

  .section {
    justify-content: center;
    align-items: center;
  }

  .streaming-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .streaming {
    justify-content: center;
    align-items: center;
    width: 43em;
    margin: 0.5em;
    padding: 0.3em;
    background-color: var(--color-gray);
    box-shadow: 0 0 2em var(--color-box-shadow);
    border-radius: 0.5em;
  }

  .info {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 1em;
    background-color: var(--color-black);
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 6rem;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .logo-getter-footer {
    height: 10em;

  }

  .social-icon {
    margin: 1rem 3rem;

  }

}