<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Count | GETTER</title>
    <link rel="shortcut icon" href="../static/images/favicon-getter.ico" type="image/x-icon" />
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <div class="header">
            <div>
                <a href="https://getter.ai/">
                    <img id="logo-getter" src="../static/images/logo_getter_horizontal.png" alt="logo Getter">
                </a>
            </div>
        </div>
    </header>
    <section class="section">
        <div class="streaming-container">
            <img class="streaming" src="{{ url_for('video_feed')}}" alt="">
        </div>
        <div class="values">
        <h1>Ajuste de Valores de Color</h1>
        <form method="POST">
             
            {% for color, valores in rangos_color.items() %}
            <h2>{{ color.capitalize() }}</h2>
            <label>Hue Min: <input type="range" class="range-control" name="{{ color }}_h_min" min="0" max="179" step="1"
                    value="{{ valores['HUE'][0] }}"></label><br>
            <span id="{{ color }}_h_min_value">{{ valores['HUE'][0] }}</span>
            <label>Hue Max: <input type="range" class="range-control" name="{{ color }}_h_max" min="0" max="179" step="1"
                    value="{{ valores['HUE'][1] }}"></label><br>
            <span id="{{ color }}_h_max_value">{{ valores['HUE'][1] }}</span>
            <label>Sat Min: <input type="range" class="range-control" name="{{ color }}_s_min" min="0" max="254" step="1"
                    value="{{ valores['SAT'][0] }}"></label><br>
            <span id="{{ color }}_s_min_value">{{ valores['SAT'][0] }}</span>
            <label>Sat Max: <input type="range" class="range-control" name="{{ color }}_s_max" min="0" max="254" step="1"
                    value="{{ valores['SAT'][1] }}"></label><br>
            <span id="{{ color }}_s_max_value">{{ valores['SAT'][1] }}</span>
            <label>Value Min: <input type="range" class="range-control" name="{{ color }}_v_min" min="0" max="254" step="1"
                    value="{{ valores['VALUE'][0] }}"></label><br>
            <span id="{{ color }}_v_min_value">{{ valores['VALUE'][0] }}</span>
            <label>Value Max: <input type="range" class="range-control" name="{{ color }}_v_max" min="0" max="254" step="1"
                    value="{{ valores['VALUE'][1] }}"></label><br>
            <span id="{{ color }}_v_max_value">{{ valores['VALUE'][1] }}</span>
            {% endfor %}
            <input type="submit" value="Actualizar">
        </form>
        </div>


        <div class="info">
            <p>Red: <span id="total_red"></span></p>
            <p>Yellow: <span id="total_yellow"></span></p>
            <p>Green: <span id="total_green"></span></p>
            <p>Blue: <span id="total_blue"></span></p>
            <p>Total Count: <span id="total"></span></p>
            <p>Date: <span id="fecha"></span></p>
            <p>Hour: <span id="hora"></span>:<span id="minutos"></span>:<span id="segundos"></span></p>
            <p>FPS: <span id="fps"></span></p>
            
            <form action="/reset" method="GET">
                <input type="submit" value="Reset">
            </form>
        </div>
    </section>
    <footer class="footer">
        <section class="section-logo">
            <a href="https://getter.ai/">
                <img class="logo-getter-footer" src="../static/images/logo-getter-vertical.png" alt="logo Getter">
            </a>
        </section>
        <section class="section-text">
            <p>Copyright &copy 2023 Getter, All rights reserved. Developed by Getter.</p>
        </section>
    </footer>

    <script>
        function updateData(data) {
            document.getElementById('total_red').textContent = data.total_red;
            document.getElementById('total_yellow').textContent = data.total_yellow;
            document.getElementById('total_green').textContent = data.total_green;
            document.getElementById('total_blue').textContent = data.total_blue;
            document.getElementById('total').textContent = data.total;
            document.getElementById('fecha').textContent = data.fecha;
            document.getElementById('hora').textContent = data.hora;
            document.getElementById('minutos').textContent = data.minutos;
            document.getElementById('segundos').textContent = data.segundos
            document.getElementById('fps').textContent = data.fps;
        }

        // Actualiza cada cierto tiempo
        setInterval(function () {
            fetch('/get_data')
                .then(response => response.json())
                .then(data => updateData(data));
        }, 100);
    </script>
    

    <script>
        const rangeControls = document.querySelectorAll(".range-control");
    
        rangeControls.forEach(function(control) {
            const valueElement = document.getElementById(control.getAttribute("name") + "_value");
            
            control.addEventListener("input", function() {
                valueElement.textContent = control.value;
            });
    
            // Dispara el evento 'input' una vez para mostrar el valor inicial
            control.dispatchEvent(new Event('input'));
        });
    </script>
</body>


</html>